# What is pandas-python? Introduction and Installation

Pandas is python module that makes data science easy and effective

Weather dataset

Questions?

1. What was the maximum temparature in new york in the month of january?

2. On which days did it rains?

3. What was the average speed of wind during the month?

First we will see in python code

In [1]:
# now we will see in pandas 
import pandas as pd
df = pd.read_csv("C:\\VipinML\\InputData\\nyc_weather.csv")
df.head(5)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [2]:
#from google.colab import drive
#drive.mount('https://drive.google.com/file/d/1KxwFsL6IF7OD_XN28kjxl0-amnELIhZ8/view?usp=sharing')

In [0]:
#get the maximum temparature 
df['Temperature'].max()

50

In [0]:
#to know which day it rains
df['EST'][df['Events'] == 'Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [0]:
#3. average wind speed
df['WindSpeedMPH'].mean()

6.8928571428571432

# Installation


pip3 install pandas